h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

h4 {
  font-size: 0.75rem;
  font-weight: bold;
}

h5 {
  font-size: 0.5rem;
  font-weight: bold;
}

a {
  all: unset;
}

a:hover {
  color: gray;
}

body {
  font-family: 'Roboto', sans-serif;
}

.containerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.containerHeader .logo {
  width: 20%;
}

.containerHeader .logo .logoFoto {
  width: 65px;
  height: 67.4px;
}

.containerHeader .name {
  width: 60%;
  text-align: center;
}

.containerHeader .links {
  display: none;
}

.containerHeader .linksMobile {
  display: inline-block;
  width: 20%;
  position: relative;
  display: inline-block;
}

.containerHeader .buttonLinks {
  all: unset;
  width: 50%;
  padding: 0% 25% 0% 25%;
}

.containerHeader .linksMobile2 {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 60px;
  z-index: 1;
  padding: 5px;
  right: 10px;
}

.containerHeader .linksMobile:hover .linksMobile2 {
  display: block;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  .containerHeader {
    padding: 20px 30px 20px 30px;
  }
  .containerHeader .logo .logoFoto {
    width: 102.8px;
    height: 106.6px;
  }
  .containerHeader .name {
    text-align: center;
  }
  .containerHeader .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 15px;
  }
  .containerHeader .linksMobile {
    display: none;
  }
}

.mainContainer {
  width: 80%;
  margin: 30px auto;
}

.mainContainer .mainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.mainContainer .mainFlex .mainItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainContainer .mainFlex .mainItem .mainFoto {
  height: 150px;
  background-size: 100%;
}

.mainContainer .mainFlex .mainItem .gym {
  background-image: url(gym2.jpg);
}

.mainContainer .mainFlex .mainItem .pool {
  background-image: url(POOL.jpg);
}

.mainContainer .mainFlex .mainItem .spa {
  background-image: url(sauna.jpg);
}

.mainContainer .mainFlex .mainItem .bar {
  background-image: url(bar.jpg);
}

.mainContainer .mainFlex .mainItem .mainText {
  background-color: lightgray;
  text-align: center;
  padding: 15px 30px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 480px) {
  .mainContainer .mainFlex .mainItem {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mainContainer .mainFlex .mainItem .mainFoto {
    width: 45%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .mainContainer .mainFlex .mainItem .mainText {
    width: 55%;
    padding: 20px 80px 20px 80px;
    gap: 20px;
  }
  .mainContainer .mainFlex .r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
/*# sourceMappingURL=services.css.map */