.container {
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgba(38, 32, 62, 0.8);
    width: 100%;
    font-size: 1.1rem;
}
.box{
    background-image: url( Cosmic-Gradient-14.jpg);
    background-size: 100% 100%;
    height: 100vh;
}
.container2{
    width: 80%;
    flex-flow: row nowrap;
    display: flex;
}
.one{
    justify-content: flex-start;
    width: 25%;;
}
.two{
    justify-content: center;
    align-items: center;
    width: 50%;
    display: flex;
    gap: 4rem;
}
.three{
    width: 25%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.box{
    flex-direction: column;
}
.white{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    width: 55%;
    padding: 2rem;
}
h1{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}


