@import './share';
.m3{
    font-family: 'Lato', sans-serif;
    opacity: 0;
    .m3-1-s{
         background-color: rgba($color: $gray, $alpha: 0.3);
    }
 }
.box{
    font-family: 'Lato', sans-serif;
    width: 80%;
    margin: 69px auto 69px auto;
    display: grid;
    grid-row-gap: 112px;
    .mid-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        .img-1{
            height: 50px;
            width: 50px;
            background-image: url(coronavirus.svg);
            background-size: 100%;
            background-repeat:no-repeat;
        }
        .img-2{
            height: 50px;
            width: 50px;
            background-image: url(luggage.svg);
            background-size: 100%;
            background-repeat:no-repeat;
        }
        .img-3{
            height: 50px;
            width: 50px;
            background-image: url(sale.svg);
            background-size: 100%;
            background-repeat:no-repeat;
        }
        .img-4{
            height: 50px;
            width: 50px;
            background-image: url(doc.svg);
            background-size: 100%;
            background-repeat:no-repeat;
        }
        
        .t{
            font-size:  0.75rem;
            font-weight: 700;

        }
    }

}
@media screen and (min-width:480px){
    .menu{
        .m3{
                display: flex;
                width: 33%;
                padding-right:10% ;
                opacity: 1;
            .m3-1{
                padding: 16px 18px 16px 18px;
                font-size: 1rem;
                font-weight: 700;
            }
            .m3-1-s{
                padding: 16px 18px 16px 18px;
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }
    .box{
        grid-template-columns: repeat(3, 1fr);
        margin: 200px auto 200px auto;
        .mid-1{
            gap: 19px;
            .img-1{
                height: 100px;
                width: 100px;
            }
            .img-2{
                height: 100px;
                width: 100px;
            }
            .img-3{
                height: 100px;
                width: 100px;
            }
            .img-4{
                height: 100px;
                width: 100px;
            }
            .t{
                font-size: 1rem;
            }
        }
    }
}